<!DOCTYPE html>
<html>

<head>
    <%- include component/import%>
        <style>
            .st-bg {
                border-left: none;
            }

            .st-dtitle {
                border: none;
                background: white;
            }

            .appoint_date {
                color: #223E63;
                font-weight: 600;
                font-size: 18px;
            }

            .appoint_time {
                color: #223E63;
                font-weight: 300;
                font-size: 16px;
            }

            .appoint_place {
                color: #223E63;
                font-weight: 300;
                font-size: 16px;
            }

            .appoint_online {
                color: #2ABD4A;
                font-weight: 700;
                font-size: 18px;
            }

            .appoint_onsite {
                color: #DAAA00;
                font-weight: 700;
                font-size: 18px;
            }

            .appoint_ongoing {
                color: #DAAA00;
                font-weight: 500;
                font-size: 16px;
            }

            .appoint_done {
                color: #2ABD4A;
                font-weight: 500;
                font-size: 16px;
            }

            .appoint_canceled {
                color: #E34545;
                font-weight: 500;
                font-size: 16px;
            }

            .modal-appoint {
                background-color: #fefefe;
                margin: 15% auto;
                /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;
                width: 60%;
                /* Could be more or less, depending on screen size */
            }
        </style>
</head>

<body>
    <%- include component/navbar%>
        <div class="container-fluid">
            <div class="row">
                <%- include component/contactList%>
                    <div class="col-md-9">
                        <% include component/profileNav%>

                            <div style="font-size: 32px; font-weight: 700; color: #6E89EA;">
                                <%= contactlists.find(el=> el.userID === getUserID).lineName %>
                            </div>
                            <hr>

                            <h1>Appointment</h1>             
                            <!--Appointment row 1-->
                            <% var cardTop = 1 %>
                            <% for(let x=0 ; x< appointmentOngoingLists.length;x++) {%> 
                                <% if(cardTop==1){ %>
                                    <% if(appointmentOngoingLists[x].type=="online"){ %>
                                        <div class="row">
                                            <!--Appointment Card 1-->
                                            <div class="col-md-6">
                                                
                                                    <div class="card shadow-sm card_style" id="myBtn<%= x %>">
                                                        <Table
                                                            style="width: 100%; text-align: left; vertical-align: middle; padding: 3%;">
                                                            <tr>
                                                                <td class="appoint_date"><%= appointmentOngoingLists[x].appointmentStart.toDate().toDateString() %></td>
                                                                <td class="appoint_online" style="text-align: right;"><%= appointmentOngoingLists[x].type.toUpperCase() %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="appoint_time"><%= appointmentOngoingLists[x].appointmentStart.toDate().toLocaleTimeString() %></td></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="appoint_ongoing"><%= appointmentOngoingLists[x].status %></td>
                                                                <% if(appointmentOngoingLists[x].meetingurl!=""){ %>
                                                                    <td style="text-align: right;"><a href="<%= appointmentOngoingLists[x].meetingurl %>"><button type="button"
                                                                        class="btn btn-light">Enter Meeting</button></a></td>
                                                                <% }else if(appointmentOngoingLists[x].meetingurl=="") { %>
                                                                    <td style="text-align: right;"><a href="#"><button type="button"
                                                                        class="btn btn-light">Enter Meeting</button></a></td>
                                                                <% } %> 
                                                            </tr>
                                                        </Table>
                                                    </div>
                                                
                                                <div id="myModal<%= x %>" class="modal">
            
                                                    <!-- Modal content -->
                                                    <div class="modal-appoint">
                                                        <span class="close">&times;</span>

                                                        <h3 style="text-align: center;">Appointment Detail</h3>
                                                        <hr>
                                                        <form method="POST" action="" id="edit_profile">
                                                            <table style="width: 100%;">
                                                                <tr>
                                                                    <td class="data_head">Appointment Date</td>
                                                                    <td style="width:75%"><input type="date"
                                                                            class="text_field shadow-sm" name="new_date"
                                                                            id="date" required value="<%= moment(appointmentOngoingLists[x].appointmentStart.toDate().toDateString()).format('YYYY-MM-DD') %>"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="data_head">Start Time</td>
                                                                    <td style="width:75%"><input type="time"
                                                                            class="text_field shadow-sm" name="new_starttime"
                                                                            id="starttime" required value="<%= moment(appointmentOngoingLists[x].appointmentStart.toDate().toUTCString()).format('hh:mm') %>"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="data_head">End Time</td>
                                                                    <td style="width:75%"><input type="time"
                                                                            class="text_field shadow-sm" name="new_endtime"
                                                                            id="endtime" required value="<%= moment(appointmentOngoingLists[x].appointmentEnd.toDate().toUTCString()).format('hh:mm') %>"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="data_head">meeting link</td>
                                                                    <% if(appointmentOngoingLists[x].meetingurl!=""){ %>
                                                                        <td style="width:75%"><input type="text" class="text_field shadow-sm" name="new_link"
                                                                            value="<%= appointmentOngoingLists[x].meetingurl %>"></td>
                                                                    <% }else if(appointmentOngoingLists[x].meetingurl=="") { %>
                                                                        <td style="width:75%"><input type="text" class="text_field shadow-sm" name="new_link"
                                                                            value=""></td>
                                                                    <% } %>
                                                                </tr>
                                                                <tr>
                                                                    <td class="data_head">channel</td>
                                                                    <td style="width:75%">
                                                                        <select class="text_field shadow-sm" id="type"
                                                                            name="new_type">
                                                                            <option value="online" selected>Online</option>
                                                                            <option value="onsite">On site ที่มหาวิทยาลัย</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="data_head">status</td>
                                                                    <td style="width:75%">
                                                                        <select class="text_field shadow-sm" id="status"
                                                                            name="new_status">
                                                                            <option value="ongoing" selected>ongoing</option>
                                                                            <option value="done">done</option>
                                                                            <option value="cancle">cancle</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <div class="d-grid gap-2" style="margin:3%;">
                                                                <button type="submit" form="edit_profile"
                                                                    class="btn btn-outline-success">
                                                                    Save
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
            
                                                <script>
                                                    // Get the modal
                                                    var modal = document.getElementById("myModal<%= x %>");
            
                                                    // Get the button that opens the modal
                                                    var btn = document.getElementById("myBtn<%= x %>");
            
                                                    // Get the <span> element that closes the modal
                                                    var span = document.getElementsByClassName("close")[0];
            
                                                    // When the user clicks on the button, open the modal
                                                    btn.onclick = function () {
                                                        modal.style.display = "block";
                                                    }
            
                                                    // When the user clicks on <span> (x), close the modal
                                                    span.onclick = function () {
                                                        modal.style.display = "none";
                                                    }
            
                                                    // When the user clicks anywhere outside of the modal, close it
                                                    window.onclick = function (event) {
                                                        if (event.target == modal) {
                                                            modal.style.display = "none";
                                                        }
                                                    }
            
                                                </script>
                                            </div>
                                        <% cardTop++ %>
                                    <% }else if(appointmentOngoingLists[x].type=="onsite") { %>
                                        <div class="row">
                                            <!--Appointment Card 1-->
                                            <div class="col-md-6">
                                                
                                                    <div class="card shadow-sm card_style" id="myBtn<%= x %>">
                                                        <Table
                                                            style="width: 100%; text-align: left; vertical-align: middle; padding: 3%;">
                                                            <tr>
                                                                <td class="appoint_date"><%= appointmentOngoingLists[x].appointmentStart.toDate().toDateString() %></td>
                                                                <td class="appoint_online" style="text-align: right;"><%= appointmentOngoingLists[x].type.toUpperCase() %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="appoint_time"><%= appointmentOngoingLists[x].appointmentStart.toDate().toLocaleTimeString() %></td></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="appoint_ongoing"><%= appointmentOngoingLists[x].status %></td>
                                                                <td class="appoint_place" style="text-align: right;">ห้องพยาบาล
                                                                    อาคารเรียนรวม 2<br>
                                                                    มจธ. บางมด</td>
                                                            </tr>
                                                        </Table>
                                                    </div>
                                                
                                                <div id="myModal<%= x %>" class="modal">
            
                                                    <!-- Modal content -->
                                                    <div class="modal-appoint">
                                                        <span class="close">&times;</span>

                                                        <h3 style="text-align: center;">Appointment Detail</h3>
                                                        <hr>
                                                        <form method="POST" action="" id="edit_profile">
                                                            <table style="width: 100%;">
                                                                <tr>
                                                                    <td class="data_head">Appointment Date</td>
                                                                    <td style="width:75%"><input type="date"
                                                                            class="text_field shadow-sm" name="new_date"
                                                                            id="date" required value="<%= moment(appointmentOngoingLists[x].appointmentStart.toDate().toDateString()).format('YYYY-MM-DD') %>"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="data_head">Start Time</td>
                                                                    <td style="width:75%"><input type="time"
                                                                            class="text_field shadow-sm" name="new_starttime"
                                                                            id="starttime" required value="<%= moment(appointmentOngoingLists[x].appointmentStart.toDate().toUTCString()).format('hh:mm') %>"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="data_head">End Time</td>
                                                                    <td style="width:75%"><input type="time"
                                                                            class="text_field shadow-sm" name="new_endtime"
                                                                            id="endtime" required value="<%= moment(appointmentOngoingLists[x].appointmentEnd.toDate().toUTCString()).format('hh:mm') %>"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="data_head">meeting link</td>
                                                                    <td style="width:75%"><input type="text" class="text_field shadow-sm" name="new_link"
                                                                            value="" disabled></td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td class="data_head">channel</td>
                                                                    <td style="width:75%">
                                                                        <select class="text_field shadow-sm" id="type"
                                                                            name="new_type">
                                                                            <option value="online">Online</option>
                                                                            <option value="onsite" selected>On site ที่มหาวิทยาลัย</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="data_head">status</td>
                                                                    <td style="width:75%">
                                                                        <select class="text_field shadow-sm" id="status"
                                                                            name="new_status">
                                                                            <option value="ongoing" selected>ongoing</option>
                                                                            <option value="done">done</option>
                                                                            <option value="cancle">cancle</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <div class="d-grid gap-2" style="margin:3%;">
                                                                <button type="submit" form="edit_profile"
                                                                    class="btn btn-outline-success">
                                                                    Save
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
            
                                                <script>
                                                    // Get the modal
                                                    var modal = document.getElementById("myModal<%= x %>");
            
                                                    // Get the button that opens the modal
                                                    var btn = document.getElementById("myBtn<%= x %>");
            
                                                    // Get the <span> element that closes the modal
                                                    var span = document.getElementsByClassName("close")[0];
            
                                                    // When the user clicks on the button, open the modal
                                                    btn.onclick = function () {
                                                        modal.style.display = "block";
                                                    }
            
                                                    // When the user clicks on <span> (x), close the modal
                                                    span.onclick = function () {
                                                        modal.style.display = "none";
                                                    }
            
                                                    // When the user clicks anywhere outside of the modal, close it
                                                    window.onclick = function (event) {
                                                        if (event.target == modal) {
                                                            modal.style.display = "none";
                                                        }
                                                    }
            
                                                </script>
                                            </div>
                                        <% cardTop++ %>
                                    <% } %> 
                                <% }else if(cardTop==2) { %>
                                    <% if(appointmentOngoingLists[x].type=="online"){ %>
                                        <div class="col-md-6">
                                                
                                            <div class="card shadow-sm card_style" id="myBtn<%= x %>">
                                                <Table
                                                    style="width: 100%; text-align: left; vertical-align: middle; padding: 3%;">
                                                    <tr>
                                                        <td class="appoint_date"><%= appointmentOngoingLists[x].appointmentStart.toDate().toDateString() %></td>
                                                        <td class="appoint_online" style="text-align: right;"><%= appointmentOngoingLists[x].type.toUpperCase() %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="appoint_time"><%= appointmentOngoingLists[x].appointmentStart.toDate().toLocaleTimeString() %></td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="appoint_ongoing"><%= appointmentOngoingLists[x].status %></td>
                                                        <% if(appointmentOngoingLists[x].meetingurl!=""){ %>
                                                            <td style="text-align: right;"><a href="<%= appointmentOngoingLists[x].meetingurl %>"><button type="button"
                                                                class="btn btn-light">Enter Meeting</button></a></td>
                                                        <% }else if(appointmentOngoingLists[x].meetingurl=="") { %>
                                                            <td style="text-align: right;"><a href="#"><button type="button"
                                                                class="btn btn-light">Enter Meeting</button></a></td>
                                                        <% } %> 
                                                    </tr>
                                                </Table>
                                            </div>
                                        </div>
                                        </div>
                                        <% cardTop=1 %>    
                                    <% }else if(appointmentOngoingLists[x].type=="onsite") { %>
                                        <div class="col-md-6">
                                                
                                            <div class="card shadow-sm card_style" id="myBtn<%= x %>">
                                                <Table
                                                    style="width: 100%; text-align: left; vertical-align: middle; padding: 3%;">
                                                    <tr>
                                                        <td class="appoint_date"><%= appointmentOngoingLists[x].appointmentStart.toDate().toDateString() %></td>
                                                        <td class="appoint_online" style="text-align: right;"><%= appointmentOngoingLists[x].type.toUpperCase() %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="appoint_time"><%= appointmentOngoingLists[x].appointmentStart.toDate().toLocaleTimeString() %></td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="appoint_ongoing"><%= appointmentOngoingLists[x].status %></td>
                                                        <td class="appoint_place" style="text-align: right;">ห้องพยาบาล
                                                            อาคารเรียนรวม 2<br>
                                                            มจธ. บางมด</td>
                                                    </tr>
                                                </Table>
                                            </div>
                                        </div>
                                        </div>
                                        <% cardTop=1 %>
                                    <% } %> 
                                <% } %> 
                            <% } %>
                            <div id='loading'>loading...</div>
                            <div id='calendar'></div>

                            <!--download .ics button-->
                            <div style="text-align: right; margin-top: 1%;">
                                <form
                                    action="https://calendar.google.com/calendar/ical/en.th%23holiday%40group.v.calendar.google.com/public/basic.ics">
                                    <button class="download_ics" type="submit" value="sync">sync with your
                                        calendar</button>
                                </form>
                            </div>

                            <h1>Appointment History</h1>
                            <hr>
                            <% var card = 1 %>
                            <% for(let y=0 ; y< appointmentLists.length;y++) {%>
                                <% if(card==1){ %>
                                    <% if(appointmentLists[y].status=="done"){ %>
                                        <div class="row">
                                            <!--Appointment Card 1-->
                                            <div class="col-md-6">
                                                <a href="#">
                                                    <div class="card shadow-sm card_style">
                                                        <Table
                                                            style="width: 100%; text-align: left; vertical-align: middle; padding: 3%;">
                                                            <tr>
                                                                <td class="appoint_date"><%= appointmentLists[y].appointmentStart.toDate().toDateString()%></td>
                                                                <td class="appoint_online" style="text-align: right;"><%= appointmentLists[y].type %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="appoint_time"><%= appointmentLists[y].appointmentStart.toDate().toLocaleTimeString() %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="appoint_done" style="padding-top: 10px;"><%= appointmentLists[y].status %></td>
                                                            </tr>
                                                        </Table>
                                                    </div>
                                                </a>
                                            </div>
                                            <% card++ %>
                                    <% } else if(appointmentLists[y].status=="cancel") { %>    
                                        <div class="row">
                                            <!--Appointment Card 1-->
                                            <div class="col-md-6">
                                                <a href="#">
                                                    <div class="card shadow-sm card_style">
                                                        <Table
                                                            style="width: 100%; text-align: left; vertical-align: middle; padding: 3%;">
                                                            <tr>
                                                                <td class="appoint_date"><%= appointmentLists[y].appointmentStart.toDate().toDateString()%></td>
                                                                <td class="appoint_online" style="text-align: right;"><%= appointmentLists[y].type %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="appoint_time"><%= appointmentLists[y].appointmentStart.toDate().toLocaleTimeString() %></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="appoint_canceled" style="padding-top: 10px;"><%= appointmentLists[y].status %></td>
                                                            </tr>
                                                        </Table>
                                                    </div>
                                                </a>
                                            </div>
                                        <% card++ %>
                                    <% } %>
                                <% } else if(card==2) { %>
                                    <% if(appointmentLists[y].status=="done"){ %>
                                        <div class="col-md-6">
                                            <a href="#">
                                                <div class="card shadow-sm card_style">
                                                    <Table
                                                        style="width: 100%; text-align: left; vertical-align: middle; padding: 3%;">
                                                        <tr>
                                                            <td class="appoint_date"><%= appointmentLists[y].appointmentStart.toDate().toDateString()%></td>
                                                            <td class="appoint_online" style="text-align: right;"><%= appointmentLists[y].type %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="appoint_time"><%= appointmentLists[y].appointmentStart.toDate().toLocaleTimeString() %>.</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="appoint_done" style="padding-top: 10px;"><%= appointmentLists[y].status %>
                                                            </td>
                                                        </tr>
                                                    </Table>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                        <% card=1 %>
                                    <% } else if(appointmentLists[y].status=="cancel") { %> 
                                        <div class="col-md-6">
                                            <a href="#">
                                                <div class="card shadow-sm card_style">
                                                    <Table
                                                        style="width: 100%; text-align: left; vertical-align: middle; padding: 3%;">
                                                        <tr>
                                                            <td class="appoint_date"><%= appointmentLists[y].appointmentStart.toDate().toDateString()%></td>
                                                            <td class="appoint_online" style="text-align: right;"><%= appointmentLists[y].type %>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="appoint_time"><%= appointmentLists[y].appointmentStart.toDate().toLocaleTimeString() %>.</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="appoint_canceled" style="padding-top: 10px;"><%= appointmentLists[y].status %>
                                                            </td>
                                                        </tr>
                                                    </Table>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                           
                                        <% card=1 %> 
                                    <% } %>
                                <% } %>
                            <% } %>
            </div>

        </div>
        </div>>
</body>

</html>