<!DOCTYPE html>
<html>
  <head>
    <%- include component/import%>
    <style>
      /*Style of Appointment card*/
      .state_online {
        color: #2abd4a;
        font-weight: 700;
      }

      .state_on_site {
        color: #daaa00;
        font-weight: 700;
      }

      .appoint_date {
        color: #223e63;
        font-weight: 500;
      }

      .appoint_time {
        color: #223e63;
        font-weight: 300;
      }

      .appoint_user {
        color: #223e63;
        font-weight: 300;
      }

      .risk_card {
        margin: 5%;
        padding: 3%;
        background-color: #c9e8ff;
        border: none;
      }
    </style>
  </head>

  <body>
    <%- include component/navbar%>
    <div class="container-fluid">
      <div class="row">
        <%- include component/contactList %>
        <div class="col-md-9">
          <h1>Up Coming Appointment</h1>
          <hr />

          <!--Appointment Card-->
          <% if(appointmentUserLists.length > 3 ) { %> <% for(let s=0 ; s < 3;s++) { %>
          <div class="card shadow-sm card_style">
            <Table style="width: 100%">
              <tr>
                <td class="state_online"><%= appointmentUserLists[s].type.toUpperCase() %></td>
                <td class="appoint_date" style="text-align: right"><%= moment(appointmentUserLists[s].appointmentStart.toDate().toDateString()).format("ddd DD MMM YYYY") %></td>
              </tr>
              <tr>
                <td class="appoint_user"><%= appointmentUserLists[s].lineName %></td>
                <td class="appoint_time" style="text-align: right"><%= moment( appointmentUserLists[s].appointmentStart.toDate().toUTCString()).format('kk:mm น.')%></td>
              </tr>
            </Table>
          </div>
          <% } %> <% }else if(appointmentUserLists.length <= 3 ) { %> <% for(let s=0 ; s < appointmentUserLists.length ;s++) { %>
          <div class="card shadow-sm card_style">
            <Table style="width: 100%">
              <tr>
                <td class="state_online"><%= appointmentUserLists[s].type.toUpperCase() %></td>
                <td class="appoint_date" style="text-align: right"><%= moment(appointmentUserLists[s].appointmentStart.toDate().toDateString()).format("ddd DD MMM YYYY") %></td>
              </tr>
              <tr>
                <td class="appoint_user"><%= appointmentUserLists[s].lineName %></td>
                <td class="appoint_time" style="text-align: right"><%= moment( appointmentUserLists[s].appointmentStart.toDate().toUTCString()).format('kk:mm น.')%></td>
              </tr>
            </Table>
          </div>
          <% } %> <% } %>

          <!--End of Appointment Card-->
          <hr />
          <h1 style="text-align: center;">Calendy Appointment</h1>
          <div id="loading">loading...</div>
          <div id="calendar"></div>

          <!--download .ics button-->
          <div style="text-align: right; margin-top: 1%">
            <form action="https://calendar.google.com/calendar/ical/en.th%23holiday%40group.v.calendar.google.com/public/basic.ics">
              <button class="download_ics" type="submit" value="sync">sync with your calendar</button>
            </form>
          </div>

          <h1>Risk User</h1>
          <hr />
          <div class="row">
            <div class="col-md-6">
              <h2>Feeling Down</h2>
              <% var countFeeling = 3 %> <% if(feelingDownLists.length > 3) { %> <% for(let x = 0;x< 3;x++) { %> <% if(feelingDownLists[x].emotion <= -5){ %>
              <div class="card shadow-sm risk_card">
                <div class="row" style="font-size: 20px">
                  <div class="col-md-10 appoint_user"><%= feelingDownLists[x].lineName %></div>
                  <div class="col-md-2 text-danger" style="font-weight: 600"><%= feelingDownLists[x].emotion %></div>
                </div>
              </div>
              <% countFeeling-- %> <% } %> <% } %> <% } else if(feelingDownLists.length <= 3) { %> <% for(let x = 0;x< feelingDownLists.length;x++) { %> <% if(feelingDownLists[x].emotion <= -5){ %>
              <div class="card shadow-sm risk_card">
                <div class="row" style="font-size: 20px">
                  <div class="col-md-10 appoint_user"><%= feelingDownLists[x].lineName %></div>
                  <div class="col-md-2 text-danger" style="font-weight: 600"><%= feelingDownLists[x].emotion %></div>
                </div>
              </div>
              <% countFeeling-- %> <% } %> <% } %> <% } %> <% if(countFeeling == 0){ %>
              <div class="card shadow-sm risk_card">
                <div class="row" style="font-size: 20px">
                  <div class="col-md-10 appoint_user">No Feeling Down User Now</div>
                </div>
              </div>
              <% } %>
            </div>
            <div class="col-md-6">
              <h2>Risk assessment result</h2>
              <% var countRisk = 3 %> <% if(riskUserLists.length > 3) { %> <% for(let x = 0;x< 3;x++) { %>
              <div class="card shadow-sm risk_card">
                <div class="row" style="font-size: 20px">
                  <div class="col-md-10 appoint_user"><%= riskUserLists[x].lineName %></div>
                  <div class="col-md-2 text-danger" style="font-weight: 600"><%= riskUserLists[x].score %> <%= riskUserLists[x].scoreTotal %></div>
                </div>
              </div>
              <% countRisk-- %> <% } %> <% } else if(feelingDownLists.length <= 3) { %> <% for(let x = 0;x< feelingDownLists.length;x++) { %>
              <div class="card shadow-sm risk_card">
                <div class="row" style="font-size: 20px">
                  <div class="col-md-10 appoint_user"><%= riskUserLists[x].lineName %></div>
                  <div class="col-md-2 text-danger" style="font-weight: 600"><%= riskUserLists[x].score %> <%= riskUserLists[x].scoreTotal %></div>
                </div>
              </div>
              <% countRisk-- %> <% } %> <% } %> <% if(countRisk == 0){ %>
              <div class="card shadow-sm risk_card">
                <div class="row" style="font-size: 20px">
                  <div class="col-md-10 appoint_user">No Danger User Now</div>
                </div>
              </div>
              <% } %>
            </div>
          </div>

          <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"
          ></script>
        </div>
      </div>
    </div>
  </body>
</html>
