<!DOCTYPE html>
<html>
  <head>
    <%- include component/import%>
    <style>
      .note_header {
        font-size: 32px;
        font-weight: 700;
        color: #6e89ea;
      }

      .note_content {
        padding: 1%;
        font-weight: 300;
        color: #223e63;
        font-size: 18px;
        font-family: "Sarabun", sans-serif;
      }

      .add_card {
        border-color: #c9e8ff;
        background-color: #e2f3ff;
        margin: 3%;
        padding-top: 30%;
        padding-bottom: 30%;
      }

      .note_owner {
        padding: 2%;
        font-weight: 600;
        color: #2f4e77;
        font-size: 22px;
      }

      .modify_status {
        padding: 2%;
        font-weight: 400;
        color: #2f4e77;
        text-align: right;
        font-size: 20px;
      }
    </style>
  </head>

  <body>
    <%- include component/navbar%>
    <div class="container-fluid">
      <div class="row">
        <%- include component/contactList%>

        <div class="col-md-9">
          <% include component/profileNav%>
          <div class="row">
            <div class="col-md-6 note_header"><%= noteLists.find(el=> el.noteID === getNoteID).header%></div>
            <div class="col-md-6" style="font-size: 32px; font-weight: 700; color: #6e89ea; text-align: right; padding-right: 3%">
              <% var creatorID= noteLists.find(el=> el.noteID === getNoteID).creatorID %> <%= headerUserList.find(el=> el.userID === creatorID).lineName %>
            </div>
          </div>
          <hr />
          <div class="row note_content">
            <p><%= noteLists.find(el=> el.noteID === getNoteID).content %></p>
          </div>
          <div class="row">
            <div class="col-md-6 note_owner"></div>
            <div class="col-md-6 modify_status">
              Last Modify: <%= moment(noteLists.find(el=> el.noteID === getNoteID).timestamp.toDate().toDateString()).format('ddd DD MMM YYYY')%> <%= moment(noteLists.find(el=> el.noteID ===
              getNoteID).timestamp.toDate()).format('kk:mm น.') %>
            </div>
          </div>
          <div class="footer mt-auto py-3">
            <div class="row">
              <div class="col-sm-8">
                <a href="/profile/<%= getUserID %>/note" style="color: #223e63"> <img src="/images/backArrow.png" style="width: 30px" /> Back </a>
              </div>
              <div class="col-sm-2" style="text-align: right; padding-right: 3%">
                <a href="/profile/<%= getUserID %>/note/<%= getNoteID %>/content/edit" style="color: #223e63">
                  <p style="color: #3378ff"><img src="/images/Edit.png" style="height: 20px" />Edit</p>
                </a>
              </div>
              <div id="myBtn" class="col-sm-2" style="text-align: right; padding-right: 3%">
                  <p style="color: red"><img src="/images/delete.png" style="height: 20px" /> Delete</p>
                <div id="myModal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-close-note">
                    <span class="close">&times;</span>
                    <br />
                    <p style="text-align: center; font-size: 18px">คุณจะลบบันทึกนี้จริง ๆ ใช่ไหม</p>
                    <!-- <a href="/profile/<%= getUserID %>/note/<%= getNoteID %>/delete" style="color: #223e63"> -->
                    <button onclick="deleteNote()" type="submit" name="saveEdit" class="btn btn-danger sure_btn" value="ลบ">ลบ</button>
                    <button onclick="closemodel()" type="submit" name="saveEdit" class="btn btn-light sure_btn" value="ลบ">กลับ</button>
                  <!-- </a> -->
                  </div>
                </div>

                <script>
                  // Get the modal
                  var modal = document.getElementById("myModal");

                  // Get the button that opens the modal
                  var btn = document.getElementById("myBtn");

                  // Get the <span> element that closes the modal
                  var span = document.getElementsByClassName("close");

                  // When the user clicks on the button, open the modal
                  btn.onclick = function () {
                    modal.style.display = "block";
                  };

                  // When the user clicks on <span> (x), close the modal
                  span.onclick = function () {
                    modal.style.display = "none";
                  };

                  // When the user clicks anywhere outside of the modal, close it
                  window.onclick = function (event) {
                    if (event.target == modal) {
                      modal.style.display = "none";
                    }
                  };

                  function closemodel() {
                      modal.style.display = "none";
                  }

                  function deleteNote(){
                    window.location.href='/profile/<%= getUserID %>/note/<%= getNoteID %>/delete'
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
